# Queue Service Configuration
QUEUE__DRIVER=redis # Options: redis, rabbitmq, kafka

# RabbitMQ Configuration (required if QUEUE__DRIVER=rabbitmq)
RABBITMQ__HOST=localhost
RABBITMQ__PORT=5672
RABBITMQ__USERNAME=guest
RABBITMQ__PASSWORD=guest

# Kafka Configuration (required if QUEUE__DRIVER=kafka)
KAFKA__BROKER=localhost:9092
KAFKA__CONSUMER_GROUP_ID=base-go-consumer-group

AUTH__REDIS_TTL_SECONDS=172800
AUTH__ACCESS_TOKEN_TTL_SECONDS=1800
AUTH__REFRESH_TOKEN_TTL_SECONDS=604800

FILE__MAX_SIZE=30000000
FILE__DRIVER=minio

MINIO__ENDPOINT=storage.com
MINIO__BUCKET_NAME=
MINIO__ACCESS_KEY_ID=
MINIO__SECRET_ACCESS_KEY=