{
  "app_name": "blips v2.0",
  "app_env": "development",
  "database": {
    "blips": {
      "host": "localhost",
      "port": 5432,
      "user": "postgres",
      "password": "postgres",
      "db_name": "blips",
      "sslmode": "disable"
    }
  },
  "format": {
    "time": "2006-01-02T15:04:05.999Z07:00"
  },
  "app_port": 9090,
  "jwt_key": 123456,
  "email": {
    "smtp_host":"",
    "smtp_port":"587",
    "smtp_sender_mail":"",
    "smtp_auth_email":"",
    "smtp_password":"",
    "reset_password_url":"http://localhost:3000/reset-password",
  },
  "redis": {
    "addr": "",
    "password": "",
    "db": "db0",
    "concurrency": 10
  },
}